<div class="container">
    <form class="needs-validation" name="customerSearchForm" (ngSubmit)="submitSearchCustomer()" novalidate>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-primary text-center">
                    <span class="text-default">ระบุเงื่อนไขการจดทะเบียนเบื้องต้น</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 offset-sm-3">
               <div class="row mb-2">
                    <label for="cardId" class="col-12 col-sm-6 text-sm-right pt-2">เลขประจำตัวผู้เสียภาษี 13 หลัก:</label>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" 
                        NumberOnly id="cardId" name="cardId" [(ngModel)]="model.cardId" 
                        #cardId="ngModel" maxlength="13" autocomplete="off">
                    </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 offset-sm-3">
                <div class="row mb-2">
                    <label for="fullName" class="col-12 col-sm-6 text-sm-right pt-2">ชื่อผู้ประกอบอุตสาหกรรม:</label>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="model.fullName" #fullName="ngModel">
                    </div>
               </div>
            </div>
            <div class="col-12 col-sm-6 offset-sm-3">
                <div class="row mb-2">
                    <label for="cusType" class="col-12 col-sm-6 text-sm-right pt-2">ความประสงค์</label>
                    <div class="col-12 col-sm-6">
                        <select class="form-control">
                            <option>ขอลงทะเบียนสรรพสามิต</option>
                        </select>
                    </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="border-top border-bottom text-center pt-2 pb-2 bg-light mt-2 mb-4">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> ค้นหา</button>&nbsp;
                    <button type="reset" class="btn btn-warning"><i class="fa fa-refresh"></i> ล้างหน้าจอ</button>&nbsp;
                    <button type="button" class="btn btn-success" routerLink="register-customer"><i class="fa fa-plus"></i> รายการใหม่</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Table Customer -->
<div class="container">
    <div class="row mb-3">
        <div class="col-auto pr-0 pt-2">แสดง</div>
        <div class="col-auto pl-2 pr-2">
            <select class="form-control" (change)="lengthChange($event.target.value)">
                <option value="5" selected>5</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="col-auto pl-0 pt-2">รายการ</div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col" rowspan="2" class="text-center align-middle cursor-default">ลำดับที่</th>
                            <th scope="col" rowspan="2" class="text-center align-middle" (click)="sort('cusId')">
                                รหัสผู้ประกอบการ (CUS_ID) 
                                <i class="fa" *ngIf="key =='cusId'" [ngClass]="{'fa-sort-desc':reverse,'fa-sort-asc':!reverse}" aria-hidden="true"></i>
                            </th>
                            <th scope="col" rowspan="2" class="text-center align-middle" (click)="sort('cardId')">
                                เลขประจำตัวผู้เสียภาษี 13 หลัก <i class="fa" *ngIf="key =='cardId'" [ngClass]="{'fa-sort-desc':reverse,'fa-sort-asc':!reverse}" aria-hidden="true"></i>
                            </th>
                            <th scope="col" colspan="2" class="text-center cursor-default align-middle">ชื่อผู้ประกอบอุตสาหกรรม</th>
                        </tr>
                        <tr class="table-primary">
                            <th class="text-center align-middle" (click)="sort('fullName')">
                                ชื่อผู้ประกอบอุตสาหกรรม <i class="fa" *ngIf="key =='fullName'" [ngClass]="{'fa-sort-desc':reverse,'fa-sort-asc':!reverse}" aria-hidden="true"></i>
                            </th>
                            <th class="text-center cursor-default align-middle">ที่อยู่</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of customers | orderBy: key : reverse | paginate: { itemsPerPage: pageSize, currentPage: p }; let i = index">
                            <td scope="row" class="text-center align-middle">{{i+1}}</td>
                            <td class="text-center align-middle">{{item.cusId}}</td>
                            <td class="text-center align-middle">{{item.cardId}}</td>
                            <td class="align-middle">{{item.fullName}}</td>
                            <td class="align-middle">{{item.address}}</td>
                        </tr>
                        <tr *ngIf="countCus == 0">
                            <td colspan="5" class="text-center">ไม่มีข้อมูลในตาราง</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-controls (pageChange)="p = $event"
                previousLabel="ก่อน"
                nextLabel="ถัดไป"
                maxSize="9"
                directionLinks="true"
                autoHide="true"
            ></pagination-controls>
        </div>
    </div>
</div>