<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand mr-md-5">
    <img src="assets/images/logo2.png" width="250">&nbsp;
    <!-- <span>ED-POC</span> -->
  </a>
  <button type="button" class="navbar-toggler collapsed" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto pl-md-5"></ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link nav-left active" routerLink="/">
          <span>การจดทะเบียนเบื้องต้น</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
