<div class="container">
  <div class="row pt-4 pb-4">
    <div class="col-sm-12">
      <img src="../../../assets/demo/viz.jpg" width="100%">
    </div>
  </div>
  <div class="row pb-4">
    <div class="col">
      <img src="../../../assets/demo/p1.jpg" class="img-fluid">
    </div>
    <div class="col">
      <img src="../../../assets/demo/p2.jpg" class="img-fluid">
    </div>
  </div>
  <div class="row pb-4">
    <div class="col">
      <img src="../../../assets/demo/b1.jpg" class="img-thumbnail">
    </div>
    <div class="col">
      <img src="../../../assets/demo/b2.jpg" class="img-thumbnail">
    </div>
    <div class="col">
      <img src="../../../assets/demo/b3.jpg" class="img-thumbnail">
    </div>
  </div>
</div>
